body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.app-container {
  max-width: 75rem; 
  margin: 0 auto;
  padding: 1.25rem; 
  text-align: center; 
}

.home-container, .catalog-container, .movie-detail-container {
  padding: 1.25rem; 
}

.catalog-container h2, .movie-detail-container h2 {
  margin-bottom: 1.25rem; 
}

.movie-list {
  list-style-type: none;
  padding: 0;
}

.movie-link, .catalog-link {
  display: block; 
  width: 12.5rem; 
  margin: 0 auto; 
  padding: 0.625rem 1.25rem; 
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3125rem; 
  margin-bottom: 0.625rem; 
}

.movie-link:hover, .catalog-link:hover {
  background-color: #0056b3;
}

.movie-title {
  margin-bottom: 0.625rem; 
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}