body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

input {
  padding: 0.75rem;
}

.app-container {
  max-width: 75rem; /* 1200px en rem */
  margin: 0 auto;
  padding: 1.25rem; /* 20px en rem */
  text-align: center; /* Para centrar los elementos hijos */
}

/* Estilos para los contenedores de páginas */
.home-container,
.catalog-container,
.movie-detail-container {
  padding: 1.25rem; /* 20px en rem */
}

/* Estilos para los títulos en el catálogo y el detalle de la película */
.catalog-container h2,
.movie-detail-container h2 {
  margin-bottom: 1.25rem; /* 20px en rem */
}

/* Estilos para las listas de películas */
.movie-list {
  list-style-type: none;
  padding: 0;
}

/* Estilos para los enlaces de películas en el catálogo */
.movie-link,
.catalog-link {
  display: block; /* Cambiar a bloque para ocupar el ancho disponible */
  width: 12.5rem; /* 200px en rem */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 0.625rem 1.25rem; /* 10px 20px en rem */
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3125rem; /* 5px en rem */
  margin-bottom: 0.625rem; /* 10px en rem */
}

/* Estilos para los enlaces de películas en hover */
.movie-link:hover,
.catalog-link:hover {
  background-color: #0056b3;
}

/* Estilos para los títulos de películas */
.movie-title {
  margin-bottom: 0.625rem; /* 10px en rem */
}

/* Estilos para los botones */
.btn {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px 20px en rem */
  background-color: #00b11e;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3125rem; /* 5px en rem */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

/* Estilos para los botones en hover */
.btn:hover {
  background-color: #00410b;
}

/* Estilos para el detalle de la película */
.movie-detail-container {
  padding: 1.25rem; /* 20px en rem */
}

/* Estilos para la imagen de la película en el detalle */
.movie-detail-container img {
  border-radius: 0.3125rem; /* 5px en rem */
  width: 100%; /* Ajustar el tamaño de la imagen al 100% del contenedor */
  max-width: 300px; /* Tamaño máximo de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  margin-bottom: 1.25rem; /* 20px en rem */
}

/* Estilos para la sinopsis en el detalle de la película */
.movie-detail-container .sinopsis {
  width: 70%; /* Ancho definido para la sinopsis */
  margin: 0 auto; /* Centrar horizontalmente */
  font-weight: bold; /* Texto en negrita */
}